/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

@font-face { 
  font-family: "sohne"; 
  font-style: normal; 
  font-weight: 700; 
  src: url("https://glyph.medium.com/font/cf896f3/0-3j_4g_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/sohne-700-normal.woff") format("woff"); 
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026; 
}
.sohne{
  font-family: "sohne";
}
.white{
    color: #fff !important;
}
.raleway{
    font-family: 'raleway';
}

/*--reset--*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--start editing from here--*/

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */

.txt-lt {
    text-align: left;
}

/* text align left */

.txt-center {
    text-align: center;
}

/* text align center */

.float-rt {
    float: right;
}

/* float right */

.float-lt {
    float: left;
}

/* float left */

.clearfix {
    clear: both;
}

/* clear float */

.pos-relative {
    position: relative;
}

/* Position Relative */

.pos-absolute {
    position: absolute;
}

/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}

/* vertical align top */

nav.vertical ul li {
    display: block;
}

/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */

img {
    max-width: 100%;
}

/*--end reset--*/

button.w3l-cart {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}

body a:hover {
    text-decoration: none;
}

.clearfix {
    clear: both;
}

/* content */

body {
    /*background: url(../images/b.jpg) no-repeat center;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	font-family: 'Raleway', sans-serif;
}

.text-center {
    text-align: center;
}

.content-w3ls {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    -webkit-box-pack: flex-end;
    -moz-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: 85%;
}

.agileits-grid {
    max-width: 500px;
    padding: 3vw;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.5);
    background: #fff;
    position: relative;
}
.agileits-grid i {
    position: absolute;
    top: -8%;
    left: 43%;
    font-size: 70px;
    text-align: center;
    color: #ff4f81;
    background: #fff;
    border: 6px solid #fdfdfd;
    border-radius: 50%;
}
.content-top-agile,
.content-bottom,
.wthree-field {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
}

.content-top-agile {
}

.content-top-agile h2 {
    color: #333;
    font-size: 1.6em;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
}

.field_w3ls {
    background: #fff;
}

h1.title-agile {
    font-size: 2.8em;
    text-transform: capitalize;
    color: black;
    letter-spacing: 3px;
    text-align: center;
	font-family: 'Sohne', sans-serif;
}

.content-w3ls ul li {
    display: inline-block;
}
p.signin {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 1em 0;
     text-align: center;
}
p.signin a {
    color: #dd4b39;
     font-weight: 500;
}
p.signin a:hover,p.terms a:hover{
    color: #333;
    text-decoration: underline;
}
p.terms {
     font-size: 15px;
    color: #333;
    letter-spacing: 1px;
    line-height: 28px;
     font-weight: 500;
     text-align: center;
}
p.terms a {
	text-decoration: underline;
	color: #ff4f81;
}
/* form style  */

form .field-group {
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
}

.field-icon {
    float: right;
    margin-left: -30px;
    margin-top: 25px;
    position: relative;
    z-index: 2;
}

ul.list-login {
    margin: 2em 0 0;
}

.field_w3ls {
    background: transparent;
    margin: 2em 0 1em;
}


.field-group input {
    padding: 15px 15px;
    font-size: 16px;
    border: none;
	color: #333;
    margin: .5em 0;
    background: transparent;
    box-sizing: border-box;
     letter-spacing: 1px;
    width: 100%;
	font-family: 'Raleway', sans-serif;
    outline: none;
    border: 1px solid #bbb;
}
.fa-fw {
    color: #dd4b39;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #888;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #888;
}
:-moz-placeholder { /* Firefox 18- */
  color: #888;
}

.wthree-field button[type="submit"] {
      background: #dd4b39;
    width: 100%;
    border: none;
    color: #fff;
    padding: 15px 15px;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 500;
	font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.wthree-field button[type="submit"]:hover {
    background: #333;
    color: #fff;
}

.copyright {
    margin: 2em 0 2em;
}

.copyright p {
    color: black;
    letter-spacing: 1px;
    margin: 0 1em 1em;
    font-size: 1em;
    line-height: 26px;
}

.copyright p a {
    color: #fff;
}

/* //content */

@media (max-width: 1920px) {
    h1 {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 768px) {
    .content-top-agile {
        padding-top: 2em;
    }
}
@media screen and (max-width: 736px) {
	.agileits-grid {
		padding: 5vw;
	}
}
@media screen and (max-width: 667px) {
	.content-w3ls {
		justify-content: center;
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.content-top-agile h2 {
		font-size: 1.4em;
	}
}
@media screen and (max-width: 480px) {
    h1.title-agile {
        font-size: 2em;
        letter-spacing: 2px;
    }
	.agileits-grid {
		padding: 7vw;
		margin: 0 3vw;
	}
}

@media screen and (max-width: 414px) {
}

@media screen and (max-width: 384px) {
	.agileits-grid i {
		top: -6%;
		left: 42%;
		font-size: 60px;
	}
}

@media screen and (max-width: 375px) {
    h1.title-agile {
        font-size: 2em;
    }
    .content-bottom {
        padding: 1em;
    }
    .field_w3ls {
        margin: 1em 0;
    }
}

@media screen and (max-width: 320px) {
    h1.title-agile {
        font-size: 1.7em;
    }
    .content-bottom {
        padding: 2em 1.5em;
    }
    .content-top-agile h2 {
        font-size: 1.2em;
    }
    .content-bottom {
        padding: 1em 0em;
    }
    .content-top-agile {
        padding: 1em;
    }
}

/* -- //Responsive code -- */