.header {
    top: 0;
    width: 100%;
}

.menucard {
    margin: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    height: 100px;
}

.menucard:hover {
    background-color: lightgray;
    transition: 1s;
    cursor: pointer;
}

.menucard h6{
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer {
    bottom: 0;
    width: 100%;
}
